app = "witan-bot"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PYTHONUNBUFFERED = "1"

[processes]
  app = "python Witan.py"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512
